//fonts

$REGULAR:         'montserratregular', sans-serif;
$BOLD:            'montserratbold', sans-serif;
$LIGHT:           'montserratlight', sans-serif;
$SEMI_BOLD:       'montserratsemi_bold', sans-serif;
$ULTRA_LIGHT:     'montserratultra_light', sans-serif;

//colors
$VIOLET:            #493292;
$BLUE:              #5336b0;
$MAIN_FONT:         #474747;
$LIGHT_FONT:        #6e6e6e;
$DARK_FONT:         #232425;
$WHITE_FONT:        #fefefe;

$LIGHT_GRAY:        #e2e2e2;